# IDE
*.idea
*.vscode
*.vs

# Cargo
/target/
Cargo.lock


# Node
node_modules
*.log
*.test.js
package-lock.json


# Antlr
*.jar
*.zip
*.antlr
*.ps1
*.m
*.nb
projects/tree-sitter-ygg/bindings/**/*
projects/tree-sitter-ygg/src/grammar.json
projects/tree-sitter-ygg/src/node-types.json
projects/ygg-pest/src/ygg.rs
binding.gyp
parser.exp
parser.lib
parser.obj
scanner.obj

# Ignore
projects/tree-sitter-calc/**/*
projects/tree-sitter-cli/**/*
