# IDE
*.idea
*.vscode
*.vs

# Cargo
build
/target/
Cargo.lock


# Node
node_modules
*.log
*.test.js
package-lock.json

# Antlr

*.antlr
*.ps1
*.m
*.nb
*.g4
projects/tree-sitter-yg/src/**/*
parser.exp
parser.lib
parser.obj
scanner.obj

# Ignore
projects/tree-sitter-calc/**/*
projects/tree-sitter-cli/**/*
