# IDE
*.idea
*.vscode
*.vs

# Cargo
build
examples
!examples/ast.rs
/target/
Cargo.lock


# Node
node_modules
*.log
*.test.js
package-lock.json

# Antlr

*.antlr
*.ps1
*.m
*.nb
projects/tree-sitter-yg/src/**/*
parser.exp
parser.lib
parser.obj
scanner.obj

# Ignore
projects/tree-sitter-calc/**/*
projects/tree-sitter-cli/**/*
