use super::*;


{% for rule in self.grammar.rules() %}
impl YggdrasilNode for {{ rule.node_name() }} {
    type Rule = {{ self.grammar.rule_name() }};

    fn get_range(&self) -> Option<Range<usize>> {
{%- if rule.is_class() %}
        Some(Range { start: self.span.start as usize, end: self.span.end as usize })
{%- else %}
        match self {
            _ => unreachable!()
        }
{%- endif %}
    }
}
{%- endfor %}

