use super::*;

{%- set rules = self.grammar.rules() %}

{%- for rule in rules.clone() %}
impl YggdrasilNode for {{ rule.node_name() }} {
    type Rule = {{ self.grammar.rule_name() }};

    fn get_range(&self) -> Option<Range<usize>> {
{%- if rule.is_class() %}
        Some(Range { start: self.span.start as usize, end: self.span.end as usize })
{%- else %}
        match self {
            _ => unimplemented!()
        }
{%- endif %}
    }
    fn from_cst(tree: TokenTree<Self::Rule>) -> Result<Self, YggdrasilError<Self::Rule>> {
{%- if rule.is_class() %}
        let _span = tree.span();
        Ok(Self {
{%- for field in rule.class_fields() %}
{%- if field.field_type(self.grammar).is_empty() %}
            // Missing rule {{ field.kind }}
{%- else %}
{%- if field.count.is_one() %}
            {{ field.field_name()|safe_rust_id }}: tree.take_tagged_one::<{{ field.field_type(self.grammar) }}>(Cow::Borrowed("{{ field.field_name() }}"))?,
{%- else if field.count.is_optional() %}
            {{ field.field_name()|safe_rust_id }}: tree.take_tagged_one::<{{ field.field_type(self.grammar) }}>(Cow::Borrowed("{{ field.field_name() }}"))?,
{%- else %}
            {{ field.field_name()|safe_rust_id }}: tree.take_tagged::<{{ field.field_type(self.grammar) }}>(Cow::Borrowed("{{ field.field_name() }}"))?,
{%- endif %}
{%- endif %}
{%- endfor %}
            span: Range { start: _span.start() as u32, end: _span.end() as u32 },
        })
{%- else if rule.is_union() %}
{%- for (name, variant) in rule.union_fields() %}
{%- if variant.is_empty() %}
        if let Some(_) = tree.first_tagged("{{ name }}") {
            return Ok(Self::{{ name }})
{%- else if variant.as_single().is_some() %}
        if let Some(s) = tree.first_tagged("{{ name }}") {
            return Ok(Self::{{ name }}({{ variant.as_single().unwrap().field_type(self.grammar) }}::from_cst(s)?))
{%- else %}
        if let Some(s) = _tree.find_tagged_optional("{{ name }}") {
            unimplemented!()
{%- endif %}
        }
    {%- endfor %}
        Err(YggdrasilError::invalid_node({{ self.grammar.rule_name() }}::{{ rule.name.text|safe_rust_id }}, tree.span()))
{%- endif %}
    }
}
{%- endfor %}

