RootNode {
    statement: GrammarStatement(
        GrammarStatementNode {
            grammar_block: GrammarBlockNode {
                span: 14..37,
            },
            identifier: IdentifierNode {
                span: 8..13,
            },
            span: 0..37,
        },
    ),
    span: 0..1856,
}