#![allow(dead_code, unused_imports, non_camel_case_types)]
#![allow(missing_docs, rustdoc::missing_crate_level_docs)]
#![allow(clippy::unnecessary_cast)]
#![doc = include_str!("readme.md")]

mod parse_cst;
mod parse_ast;

use crate::exports::yggdrasil::{{ self.language_id() }}::ast::{{ self.token_name() }};
use core::str::FromStr;
use std::{
    borrow::Cow,
    cmp::Ordering,
    hash::{Hash, Hasher},
    ops::Range,
    rc::Rc,
    sync::OnceLock,
};
use wasi_yggdrasil::{
    exports::peg::core::cst::SyntaxNode,
    state,
    syntax_node::{NativeLanguage, NativeSyntaxData},
    OutputResult, Regex, State, YggdrasilParser, YggdrasilRule,
};

type Input<'i> = Box<State<'i, {{ self.token_name() }}>>;
type Output<'i> = Result<Box<State<'i, {{ self.token_name() }}>>, Box<State<'i, {{ self.token_name() }}>>>;

#[doc = include_str!("railway.min.svg")]
#[repr(C)]
#[derive(Copy, Clone, Debug, Default, PartialEq, Eq, Ord, PartialOrd, Hash)]
#[cfg_attr(feature = "serde", derive(serde::Serialize, serde::Deserialize))]
pub struct {{ self.host_name() }} {}

impl Hash for {{ self.token_name() }} {
    fn hash<H: Hasher>(&self, state: &mut H) {
        todo!()
    }
}

impl Ord for {{ self.token_name() }} {
    fn cmp(&self, other: &Self) -> Ordering {
        todo!()
    }
}

impl PartialOrd for {{ self.token_name() }} {
    fn partial_cmp(&self, other: &Self) -> Option<Ordering> {
        todo!()
    }
}

impl YggdrasilRule for {{ self.token_name() }} {
    fn is_ignore(&self) -> bool {
{%- if self.grammar.ignore_rules_empty() %}
        false
{%- else %}
        matches!(self, {{ self.grammar.ignore_rule_pattern() }})
{%- endif %}
    }

    fn get_style(&self) -> &'static str {
        match self {
{%- for rule in self.grammar.rules() %}
            Self::{{ rule.name.text|safe_rust_id }} => "",
{%- endfor %}
            _ => "",
        }
    }
}

{%- for rule in self.grammar.classes() %}
pub struct {{ self.node_native(rule) }} {
    node: Node<NativeSyntaxData>,
}
{%- endfor %}

