package yggdrasil:{{ self.language_id() }};

world host {
    import peg:core/types;
    export ast;
}

interface ast {
    use peg: core/errors.{parse-error};
    use peg: core/cst.{syntax-node};

    /// Token type of the language
    enum {{ self.language_id() }}-token {
{%- for (variant, _) in self.token_type() %}
        %{{ variant }},
{%- endfor %}
    }

    variant {{ self.language_id() }}-type {
{%- for (variant, class) in self.token_type() %}
        %{{ variant }}({{ self.language_id() }}-{{ class }}),
{%- endfor %}
    }

{%- for variant in self.variants() %}
    // AST Types
    variant {{ self.rule_name(variant) }}-node {
        number(json-number-node),
        str(json-string-node),
        array(json-array-node)
    }
{%- endfor %}

{%- for record in self.records() %}
    resource {{ record.rule_name(record) }}-number-node {
        ctor: static func(super: syntax-node) -> result<json-array-node, parse-error>;
        parse-string: static func(text: string, offset: u32) -> result<json-array-node, parse-error>;
        get-text: func() -> string;
    }
{%- endfor %}
}

interface visitor {

}

interface listener {

}
