GrammarInfo {
    url: None,
    name: Identifier("Bootstrap", 8..16),
    extensions: [],
    imports: {},
    exports: [],
    rules: {
        "Root": GrammarRule {
            name: Identifier("Root", 36..39),
            redirect: None,
            document: "",
            derives: RuleDerive {
                derives: {},
            },
            atomic: Optimized,
            auto_inline: false,
            entry: true,
            hide: false,
            ignored: false,
            captures: GrammarCaptures {
                text: false,
                auto: true,
                range: "usize",
            },
            body: Class {
                term: YggdrasilExpression {
                    tag: None,
                    remark: false,
                    body: UnaryExpression {
                        base: YggdrasilExpression {
                            tag: Some(
                                Identifier("Statement", 47..55),
                            ),
                            remark: false,
                            body: RuleReference {
                                name: Identifier("Statement", 47..55),
                                boxed: false,
                                inline: false,
                            },
                        },
                        operators: [
                            Repeats,
                        ],
                    },
                },
            },
            range: 24..58,
        },
        "Statement": GrammarRule {
            name: Identifier("Statement", 67..75),
            redirect: None,
            document: "",
            derives: RuleDerive {
                derives: {},
            },
            atomic: Optimized,
            auto_inline: false,
            entry: false,
            hide: false,
            ignored: false,
            captures: GrammarCaptures {
                text: false,
                auto: true,
                range: "usize",
            },
            body: Union {
                branches: [
                    YggdrasilExpression {
                        tag: Some(
                            Identifier("ClassStatements", 85..99),
                        ),
                        remark: false,
                        body: RuleReference {
                            name: Identifier("ClassStatements", 85..99),
                            boxed: false,
                            inline: false,
                        },
                    },
                    YggdrasilExpression {
                        tag: Some(
                            Identifier("UnionStatements", 107..121),
                        ),
                        remark: false,
                        body: RuleReference {
                            name: Identifier("UnionStatements", 107..121),
                            boxed: false,
                            inline: false,
                        },
                    },
                ],
            },
            range: 61..123,
        },
        "ClassStatements": GrammarRule {
            name: Identifier("ClassStatements", 251..265),
            redirect: None,
            document: "",
            derives: RuleDerive {
                derives: {},
            },
            atomic: Optimized,
            auto_inline: false,
            entry: false,
            hide: false,
            ignored: false,
            captures: GrammarCaptures {
                text: false,
                auto: true,
                range: "usize",
            },
            body: Class {
                term: YggdrasilExpression {
                    tag: None,
                    remark: false,
                    body: ConcatExpression {
                        sequence: [
                            YggdrasilExpression {
                                tag: None,
                                remark: false,
                                body: RuleReference {
                                    name: Identifier("KW_CLASS", 274..281),
                                    boxed: false,
                                    inline: false,
                                },
                            },
                            YggdrasilExpression {
                                tag: None,
                                remark: false,
                                body: IGNORED,
                            },
                            YggdrasilExpression {
                                tag: Some(
                                    Identifier("Identifier", 283..292),
                                ),
                                remark: false,
                                body: RuleReference {
                                    name: Identifier("Identifier", 283..292),
                                    boxed: false,
                                    inline: false,
                                },
                            },
                        ],
                    },
                },
            },
            range: 245..294,
        },
        "UnionStatements": GrammarRule {
            name: Identifier("UnionStatements", 421..435),
            redirect: None,
            document: "",
            derives: RuleDerive {
                derives: {},
            },
            atomic: Optimized,
            auto_inline: false,
            entry: false,
            hide: false,
            ignored: false,
            captures: GrammarCaptures {
                text: false,
                auto: true,
                range: "usize",
            },
            body: Class {
                term: YggdrasilExpression {
                    tag: None,
                    remark: false,
                    body: ConcatExpression {
                        sequence: [
                            YggdrasilExpression {
                                tag: None,
                                remark: false,
                                body: RuleReference {
                                    name: Identifier("KW_UNION", 444..451),
                                    boxed: false,
                                    inline: false,
                                },
                            },
                            YggdrasilExpression {
                                tag: None,
                                remark: false,
                                body: IGNORED,
                            },
                            YggdrasilExpression {
                                tag: Some(
                                    Identifier("Identifier", 453..462),
                                ),
                                remark: false,
                                body: RuleReference {
                                    name: Identifier("Identifier", 453..462),
                                    boxed: false,
                                    inline: false,
                                },
                            },
                        ],
                    },
                },
            },
            range: 415..464,
        },
        "NamepathFree": GrammarRule {
            name: Identifier("NamepathFree", 593..604),
            redirect: None,
            document: "",
            derives: RuleDerive {
                derives: {},
            },
            atomic: Optimized,
            auto_inline: false,
            entry: false,
            hide: false,
            ignored: false,
            captures: GrammarCaptures {
                text: false,
                auto: true,
                range: "usize",
            },
            body: Class {
                term: YggdrasilExpression {
                    tag: None,
                    remark: false,
                    body: ConcatExpression {
                        sequence: [
                            YggdrasilExpression {
                                tag: Some(
                                    Identifier("Identifier", 624..633),
                                ),
                                remark: false,
                                body: RuleReference {
                                    name: Identifier("Identifier", 624..633),
                                    boxed: false,
                                    inline: false,
                                },
                            },
                            YggdrasilExpression {
                                tag: None,
                                remark: false,
                                body: IGNORED,
                            },
                            YggdrasilExpression {
                                tag: None,
                                remark: false,
                                body: UnaryExpression {
                                    base: YggdrasilExpression {
                                        tag: None,
                                        remark: false,
                                        body: ConcatExpression {
                                            sequence: [
                                                YggdrasilExpression {
                                                    tag: None,
                                                    remark: false,
                                                    body: ChoiceExpression {
                                                        branches: [
                                                            YggdrasilExpression {
                                                                tag: None,
                                                                remark: false,
                                                                body: YggdrasilText {
                                                                    text: ".",
                                                                    insensitive: false,
                                                                    range: 637..639,
                                                                },
                                                            },
                                                            YggdrasilExpression {
                                                                tag: None,
                                                                remark: false,
                                                                body: YggdrasilText {
                                                                    text: "::",
                                                                    insensitive: false,
                                                                    range: 643..646,
                                                                },
                                                            },
                                                        ],
                                                    },
                                                },
                                                YggdrasilExpression {
                                                    tag: None,
                                                    remark: false,
                                                    body: IGNORED,
                                                },
                                                YggdrasilExpression {
                                                    tag: Some(
                                                        Identifier("Identifier", 649..658),
                                                    ),
                                                    remark: false,
                                                    body: RuleReference {
                                                        name: Identifier("Identifier", 649..658),
                                                        boxed: false,
                                                        inline: false,
                                                    },
                                                },
                                            ],
                                        },
                                    },
                                    operators: [
                                        Repeats,
                                    ],
                                },
                            },
                        ],
                    },
                },
            },
            range: 587..662,
        },
        "Namepath": GrammarRule {
            name: Identifier("Namepath", 670..677),
            redirect: None,
            document: "",
            derives: RuleDerive {
                derives: {},
            },
            atomic: Optimized,
            auto_inline: false,
            entry: false,
            hide: false,
            ignored: false,
            captures: GrammarCaptures {
                text: false,
                auto: true,
                range: "usize",
            },
            body: Class {
                term: YggdrasilExpression {
                    tag: None,
                    remark: false,
                    body: ConcatExpression {
                        sequence: [
                            YggdrasilExpression {
                                tag: Some(
                                    Identifier("Identifier", 685..694),
                                ),
                                remark: false,
                                body: RuleReference {
                                    name: Identifier("Identifier", 685..694),
                                    boxed: false,
                                    inline: false,
                                },
                            },
                            YggdrasilExpression {
                                tag: None,
                                remark: false,
                                body: IGNORED,
                            },
                            YggdrasilExpression {
                                tag: None,
                                remark: false,
                                body: UnaryExpression {
                                    base: YggdrasilExpression {
                                        tag: None,
                                        remark: false,
                                        body: ConcatExpression {
                                            sequence: [
                                                YggdrasilExpression {
                                                    tag: None,
                                                    remark: false,
                                                    body: YggdrasilText {
                                                        text: "::",
                                                        insensitive: false,
                                                        range: 697..700,
                                                    },
                                                },
                                                YggdrasilExpression {
                                                    tag: None,
                                                    remark: false,
                                                    body: IGNORED,
                                                },
                                                YggdrasilExpression {
                                                    tag: Some(
                                                        Identifier("Identifier", 702..711),
                                                    ),
                                                    remark: false,
                                                    body: RuleReference {
                                                        name: Identifier("Identifier", 702..711),
                                                        boxed: false,
                                                        inline: false,
                                                    },
                                                },
                                            ],
                                        },
                                    },
                                    operators: [
                                        Repeats,
                                    ],
                                },
                            },
                        ],
                    },
                },
            },
            range: 664..715,
        },
        "Identifier": GrammarRule {
            name: Identifier("Identifier", 723..732),
            redirect: None,
            document: "",
            derives: RuleDerive {
                derives: {},
            },
            atomic: Optimized,
            auto_inline: false,
            entry: false,
            hide: false,
            ignored: false,
            captures: GrammarCaptures {
                text: false,
                auto: true,
                range: "usize",
            },
            body: Class {
                term: YggdrasilExpression {
                    tag: None,
                    remark: false,
                    body: YggdrasilRegex {
                        raw: "[_\\p{XID_start}]\\p{XID_continue}*",
                        span: 740..774,
                    },
                },
            },
            range: 717..776,
        },
        "Boolean": GrammarRule {
            name: Identifier("Boolean", 784..790),
            redirect: None,
            document: "",
            derives: RuleDerive {
                derives: {},
            },
            atomic: Optimized,
            auto_inline: false,
            entry: false,
            hide: false,
            ignored: false,
            captures: GrammarCaptures {
                text: false,
                auto: true,
                range: "usize",
            },
            body: Union {
                branches: [
                    YggdrasilExpression {
                        tag: Some(
                            Identifier("Boolean0", 0..0),
                        ),
                        remark: false,
                        body: YggdrasilText {
                            text: "true",
                            insensitive: false,
                            range: 800..805,
                        },
                    },
                    YggdrasilExpression {
                        tag: Some(
                            Identifier("Boolean1", 0..0),
                        ),
                        remark: false,
                        body: YggdrasilText {
                            text: "false",
                            insensitive: false,
                            range: 820..826,
                        },
                    },
                ],
            },
            range: 778..835,
        },
        "KW_CLASS": GrammarRule {
            name: Identifier("KW_CLASS", 986..993),
            redirect: None,
            document: "",
            derives: RuleDerive {
                derives: {},
            },
            atomic: Optimized,
            auto_inline: false,
            entry: false,
            hide: false,
            ignored: false,
            captures: GrammarCaptures {
                text: false,
                auto: false,
                range: "usize",
            },
            body: Class {
                term: YggdrasilExpression {
                    tag: None,
                    remark: false,
                    body: YggdrasilText {
                        text: "class",
                        insensitive: false,
                        range: 996..1002,
                    },
                },
            },
            range: 986..1002,
        },
        "KW_UNION": GrammarRule {
            name: Identifier("KW_UNION", 1008..1015),
            redirect: None,
            document: "",
            derives: RuleDerive {
                derives: {},
            },
            atomic: Optimized,
            auto_inline: false,
            entry: false,
            hide: false,
            ignored: false,
            captures: GrammarCaptures {
                text: false,
                auto: false,
                range: "usize",
            },
            body: Class {
                term: YggdrasilExpression {
                    tag: None,
                    remark: false,
                    body: YggdrasilText {
                        text: "union",
                        insensitive: false,
                        range: 1018..1024,
                    },
                },
            },
            range: 1008..1024,
        },
        "WhiteSpace": GrammarRule {
            name: Identifier("WhiteSpace", 1162..1171),
            redirect: None,
            document: "",
            derives: RuleDerive {
                derives: {},
            },
            atomic: Optimized,
            auto_inline: false,
            entry: false,
            hide: false,
            ignored: true,
            captures: GrammarCaptures {
                text: false,
                auto: true,
                range: "usize",
            },
            body: Class {
                term: YggdrasilExpression {
                    tag: None,
                    remark: false,
                    body: YggdrasilRegex {
                        raw: "\\p{White_Space}+",
                        span: 1179..1196,
                    },
                },
            },
            range: 1149..1198,
        },
        "Comment": GrammarRule {
            name: Identifier("Comment", 1229..1235),
            redirect: None,
            document: "",
            derives: RuleDerive {
                derives: {},
            },
            atomic: Optimized,
            auto_inline: false,
            entry: false,
            hide: false,
            ignored: true,
            captures: GrammarCaptures {
                text: false,
                auto: true,
                range: "usize",
            },
            body: Union {
                branches: [
                    YggdrasilExpression {
                        tag: Some(
                            Identifier("Comment0", 0..0),
                        ),
                        remark: false,
                        body: ConcatExpression {
                            sequence: [
                                YggdrasilExpression {
                                    tag: None,
                                    remark: false,
                                    body: YggdrasilRegex {
                                        raw: "\\",
                                        span: 1245..1247,
                                    },
                                },
                                YggdrasilExpression {
                                    tag: None,
                                    remark: false,
                                    body: IGNORED,
                                },
                                YggdrasilExpression {
                                    tag: None,
                                    remark: false,
                                    body: YggdrasilText {
                                        text: "/",
                                        insensitive: false,
                                        range: 1248..1249,
                                    },
                                },
                                YggdrasilExpression {
                                    tag: None,
                                    remark: false,
                                    body: IGNORED,
                                },
                                YggdrasilExpression {
                                    tag: None,
                                    remark: false,
                                    body: UnaryExpression {
                                        base: YggdrasilExpression {
                                            tag: None,
                                            remark: false,
                                            body: YggdrasilRegex {
                                                raw: "[^\\n\\r]",
                                                span: 1250..1256,
                                            },
                                        },
                                        operators: [
                                            Repeats,
                                        ],
                                    },
                                },
                                YggdrasilExpression {
                                    tag: None,
                                    remark: false,
                                    body: IGNORED,
                                },
                                YggdrasilExpression {
                                    tag: None,
                                    remark: false,
                                    body: YggdrasilRegex {
                                        raw: "\n    | ",
                                        span: 1258..1266,
                                    },
                                },
                            ],
                        },
                    },
                ],
            },
            range: 1200..1278,
        },
    },
    token_sets: {},
    functions: {},
}