[package]
name = "yggdrasil-cli"
version = "0.1.0"
authors = ["Aster <192607617@qq.com>"]
description = "Yggdrasil Language CLI"
repository = "https://github.com/ygg-lang/yggdrasil-rs"
readme = "Readme.md"
license = "MPL-2.0"
edition = "2021"

[[bin]]
name = "ygg"
path = "src/main.rs"

[dependencies]
yggdrasil-core = { version = "0.1", path = "../ygg-core" }
clap = "3.0.0-beta.5"
anyhow = "1.0.50"
